#graph {
  width: 100%;
  height: 500px;
  border: 1px solid #d0d7de; /* 淡灰色邊框 */
}
#link-info-modal {
  display: flex;
  flex-direction: column; /* 垂直排列內容 */
  justify-content: space-between; /* 讓內容頂端和底部有空間 */
  height: 30%; /* 讓 Modal 佔滿所有可用高度 */
}
#myTabContent {
  height: 100%;
}

#people-tab {
  position: relative;
  z-index: 1; /* 確保文字蓋在螢光筆上 */
}

#people-tab::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px; /* 控制與文字的距離 */
  width: 100%;
  height: 30px; /* 螢光筆粗細 */
  background-color: #f5c45e; /* 螢光筆色，例如亮黃 */
  opacity: 0.5;
  z-index: -1; /* 放在文字下方 */
  border-radius: 2px; /* 看起來更自然 */
}

#place-tab {
  position: relative;
  z-index: 1; /* 確保文字蓋在螢光筆上 */
}

#place-tab::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px; /* 控制與文字的距離 */
  width: 100%;
  height: 30px; /* 螢光筆粗細 */
  background-color: #ff9a9a; /* 螢光筆色，例如亮黃 */
  opacity: 0.5;
  z-index: -1; /* 放在文字下方 */
  border-radius: 2px; /* 看起來更自然 */
}

#entity-tab {
  position: relative;
  z-index: 1; /* 確保文字蓋在螢光筆上 */
}

#entity-tab::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px; /* 控制與文字的距離 */
  width: 100%;
  height: 30px; /* 螢光筆粗細 */
  background-color: #a9c46c; /* 螢光筆色，例如亮黃 */
  opacity: 0.5;
  z-index: -1; /* 放在文字下方 */
  border-radius: 2px; /* 看起來更自然 */
}

#mermaidGraph {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  max-width: 100%;
  margin: 30px;
  box-sizing: border-box;
}

#mermaidGraph svg {
  width: auto;
  display: block;
}
